           .screen {
               width: auto;
               height: auto;
               background-color: white;
           }

           .box {
               background-color: black;
               width: 404px;
               height: 490px;
               padding-top: 10px;
               box-sizing: border-box;
               margin: auto;
           }

           .logo {
               display: block;
               text-align: center;
               width: 80%;
               margin: 20px auto;
           }

           .text {
               color: white;
               font-size: 29px;
               text-align: center;
               font-family: Arial, Helvetica, sans-serif
           }

           .link {
               color: white;
               background-color: black;
               display: block;
               width: 80%;
               margin: 20px auto;
               border: 3px solid white;
               text-align: center;
               padding: 1rem 0;
               font-family: Arial, Helvetica, sans-serif;
               text-decoration: none;
           }